<%#
-%>

<%+header%>

<style><![CDATA[
	.filecopy-path {padding-left:0.5em; font-style:italic;}
	.filecopy-entry-dir {font-decoration:underline; color:blue;}
	.filecopy-entry:hover {background-color:gray;}
	.filecopy-entry {padding-left: 0.5ex; padding-bottom: 0.5ex;}
	.filecopy-listing {list-style:none;}
]]></style>

<a id="content" name="content"></a>

<form method="post" action="<%=luci.dispatcher.build_url("admin", "services", "filecopy", "copy")%>" class="filecopy-source">
	<h2>Source</h2>
	<div id="filecopy-source">
		<ul class="filecopy-listing" />
		<input type="text" name="source" value="/mnt" />
	</div>

	<h2>Destination</h2>
	<div id="filecopy-destination">
		<ul class="filecopy-listing" />
		<input type="text" name="destination" value="/mnt" />
	</div>
	
	<h2>Copy</h2>
	<div class="cbi-value">
		<label class="cbi-value-title">Method</label>
		<div class="cbi-value-field">
			<label><input type="radio" name="method" value="replace" />Replace</label><br/>
			<label><input type="radio" name="method" value="skip" />Skip</label><br/>
			<label><input type="radio" name="method" value="keepboth" checked="checked" />Keep Both</label><br/>
		</div>
	</div>
	
	<button id="filecopy-docopy">Begin copy</button>
</form>




<script type="text/javascript"><![CDATA[

	function hasClass(element, className) {
		var paddedClasses = ' '+element.getAttribute('class')+' ';
		var paddedClass = ' '+className+' ';
		return paddedClasses.indexOf(paddedClass) >= 0;
	}
	
	
	function nodeFromString(string) {
		var div = document.createElement('div');
		div.innerHTML = string;
		return div.childNodes[0];
	}
	
	
	function browseFolder(path, parentElement) {
		console.log(path);
		
		var parentElementClosure = parentElement;
		XHR.get(
			'<%=luci.dispatcher.build_url("admin", "services", "filecopy", "contentsof")%>'
			,{ path: path }
			,function(xhr, json) {
				console.log(json);
				parentElementClosure.innerHTML = "";
				for (var i=0; i<json.entries.length; i++) {
					var entry = json.entries[i];
					var nodeHtml = '';
					if (entry.type === 'reg') {
						nodeHtml = '<li class="filecopy-entry filecopy-entry-file" data-path="'+entry.path+'"><img src="<%=resource%>/cbi/file.gif" />'+entry.name+'</li>';
					}
					else if (entry.type === 'dir') {
						nodeHtml = '<li class="filecopy-entry filecopy-entry-dir" data-path="'+entry.path+'"><img src="<%=resource%>/cbi/folder.gif" /><a>'+entry.name+'</a></li>';
					}
					else {
						nodeHtml = '<li class="filecopy-entry" data-path="'+entry.path+'"><img src="<%=resource%>/cbi/help.gif" />'+entry.name+'</li>';
					}
					
					parentElementClosure.appendChild(nodeFromString(nodeHtml));
				}
			}
		);
	}
	
	
	var sourceListing = document.querySelector("#filecopy-source .filecopy-listing");
	var sourceInput = document.querySelector("#filecopy-source input");
	sourceListing.addEventListener('click', function(e) {
		if (hasClass(e.target, 'filecopy-entry-dir')) {
			browseFolder(e.target.dataset.path, sourceListing);
			sourceInput.value = e.target.dataset.path;
			e.stopPropagation();
		}
	});
	browseFolder(sourceInput.value, sourceListing);
	
	
	var destinationListing = document.querySelector("#filecopy-destination .filecopy-listing");
	var destinationInput = document.querySelector("#filecopy-destination input");
	destinationListing.addEventListener('click', function(e) {
		if (hasClass(e.target, 'filecopy-entry-dir')) {
			browseFolder(e.target.dataset.path, destinationListing);
			destinationInput.value = e.target.dataset.path;
			e.stopPropagation();
		}
	});
	browseFolder(destinationInput.value, destinationListing);
	
	
	var docopy = document.querySelector("#filecopy-docopy");
	docopy.addEventListener('click', function(e) {
		XHR.get(
			'<%=luci.dispatcher.build_url("admin", "services", "filecopy", "cancopy")%>'
			,{
				source: sourceInput.value
				,destination: destinationInput.value
				,method: 'uhoh'
			}
			,function(xhr, json) {
				if (json.valid) {
					docopy.form.submit();
				}
				else alert('Cannot copy. Please check source and destination.');
			}
		);
		
		e.preventDefault();
		e.stopPropagation();
	});

]]></script>


<%+footer%>
